server:
  port: 5002
spring:
  application:
    name: user-service
  redis:
    host: ${SPRING_REDIS_HOST} # localhost
    port: 6379
  datasource:
     # this is an Oracle container image
    url: ${SPRING_DATASOURCE_URL} # jdbc:oracle:thin:@//localhost:1521/FREEPDB1 #use service name here
    username: ${SPRING_DATASOURCE_USERNAME} # labequiped
    password: ${SPRING_DATASOURCE_PASSWORD} # root
    driverClassName: oracle.jdbc.OracleDriver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
eureka:
  instance:
    prefer-ip-address: true
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: ${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE} # http://localhost:8761/eureka




